.check-block {
  width: 15%;
  height: 70%;
  opacity: 0.3;
  border-radius: 5%;
  border: 2px solid;
  font-size: 110%;
  align-content: center;
  transition: transform 0.3s, opacity 0.3s, font-size 0.3s, text-shadow 0.3s;
}
.check-block > p {
  width: 150%;
  height: 50%;
  margin: 0%;
  transform: rotate(-90deg);
  text-align: center;
}
.check-block.active {
  transform: rotate(9deg);
  opacity: 1;
  font-size: 120%;
}
.check-block:hover {
  transform: rotate(9deg);
  opacity: 1;
  font-size: 120%;
  cursor: pointer;
}
#cammon {
  border-color: #1e90ff;
  text-shadow: 0px 3px 3px #1767b7;
  color: #1e90ff;
}
#cammon.active {
  color: #fff;
  background-color: #1e90ff;
}
#rare {
  border-color: #ffa500;
  text-shadow: 0px 3px 3px #c48001;
  color: #ffa500;
}
#rare.active {
  color: #fff;
  background-color: #ffa500;
}
#epic {
  border-color: #6a0dad;
  text-shadow: 0px 3px 3px #550b8a;
  color: #6a0dad;
}
#epic.active {
  color: #fff;
  background-color: #6a0dad;
}
#legend {
  border-color: #ffd700;
  text-shadow: 0px 3px 3px #b89d01;
  color: #ffd700;
}
#legend.active {
  color: #fff;
  background-color: #ffd700;
}
#mythic {
  border-color: #ff4500;
  text-shadow: 0px 3px 3px #a02b01;
  color: #ff4500;
}
#mythic.active {
  color: #fff;
  background-color: #ff4500;
}