.check-block {
  width: 15%;
  height: 70%;
  opacity: 0.3;
  border-radius: 5%;
  border: 2px solid;
  font-size: 110%;
  align-content: center;
  transition: transform 0.3s, opacity 0.3s, font-size 0.3s, text-shadow 0.3s;
}
.check-block > p {
  width: 150%;
  height: 50%;
  margin: 0%;
  transform: rotate(-90deg);
  text-align: center;
}
.check-block:hover {
  transform: rotate(9deg);
  opacity: 1;
  font-size: 120%;
}
#cammon {
  border-color: #1e90ff;
  text-shadow: 0px 3px 3px #1767b7;
}
#cammon > p {
  color: #1e90ff;
}
#rare {
  border-color: #ffa500;
  text-shadow: 0px 3px 3px #c48001;
}
#rare > p {
  color: #ffa500;
}
#epic {
  border-color: #6a0dad;
  text-shadow: 0px 3px 3px #620e9f;
}
#epic > p {
  color: #6a0dad;
}
#legend {
  border-color: #ffd700;
    text-shadow: 0px 3px 3px #b89d01;

}
#legend > p {
  color: #ffd700;
}
#mythic {
  border-color: #ff4500;
    text-shadow: 0px 3px 3px #cd3801;

}
#mythic > p {
  color: #ff4500;
}
