.main {
  margin-top: 15px;
  width: 100%;
  height: 950px;
  font-family: "monocraft";
}
.main__box-btns {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: end;
}
@font-face {
  font-family: monocraft;
  src: url("../../public/fonts/Monocraft.ttc");
}
