.main {
  margin-top: 15px;
  width: 100%;
  height: 950px;
  font-family: "monocraft";
}
.main__box-btns {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: end;
}
@font-face {
  font-family: monocraft;
  src: url("../../public/fonts/Monocraft.ttc");
}
.main__box-cards {
  width: 100%;
  height: 79%;
  margin-top: 1%;
  border-top: 2px solid #32007c;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5%;
  overflow: scroll;
}