.main {
  margin-top: 15px;
  width: 100%;
  height: 950px;
  font-family: "monocraft";
}
.main__box-btns {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: end;
}
@keyframes popupAnimation {
  0% {
    border: 0px solid transparent;
    background-color: transparent;
    color: transparent;
    opacity: 0;
  }
}
.main__popup-filter {
  width: 99.5%;
  height: 300px;
  margin-top: 4.8%;
  position: absolute;
  background-color: #0e0020;
  border: 2px solid #32007c;
  animation: popupAnimation 0.5s;
}
.main__btn-filter {
  width: 3.5%;
  height: 100%;
  margin-right: 1%;
}
.btn-filter {
  width: 100%;
  height: 100%;
  background-color: #0e0020;
  color: #32007c;
  border: 2px solid #32007c;
  border-radius: 7%;
  text-align: center;
  align-content: center;
}
.btn-filter:hover {
  color: #6300e3;
  border: 2px solid #6300e3;
  cursor: grab;
}
.btn-filter:active {
  color: #32007c;
  border: 2px solid #32007c;
  cursor: pointer;
}
.popup__text-title {
  width: 100%;
  height: 15%;
  border-bottom: 2px solid #32007c;
  text-align: center;
  align-content: center;
  font-size: 150%;
  color: #fff;
  animation: popupAnimation 0.5s;
  cursor: default;
}
.popup__box-content {
  width: 100%;
  height: 85%;
  display: flex;
}
.popup__content-filter {
  width: 20%;
  height: 100%;
  animation: popupAnimation 0.5s;
}
#one,
#two {
  border-right: 2px solid #32007c;
}
#three,
#four {
  border-left: 2px solid #32007c;
}
#img {
  border: none;
  display: flex;
  justify-content: center;
}
#img > img {
  opacity: 100;
  animation: popupAnimation 0.5s;
}
@font-face {
  font-family: monocraft;
  src: url("../../public/fonts/Monocraft.ttc");
}
